* {
    box-sizing: border-box;
    margin: 0
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header.page-header {
    width: 100%;
    height: 4.5rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid #bbb;
}

header.page-header > nav {
    height: 100%;
    display: flex;
    justify-content: center;
}

header.page-header > nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.75rem;
    padding: 0;
}

header.page-header > nav > ul > li > a {
    color: #222;
    font-size: 1.125rem;
    text-decoration: none;
}
header.page-header > nav > ul > li > a:hover {
    text-decoration: underline;
}

main {
    min-height: calc(100vh - 4.5rem);
    max-width: 45rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
    text-align: center;
}

div.wrapper__personal-info, form.personal-info, label, div.service-description, main {
    display: flex;
    flex-direction: column;
}

div.wrapper__personal-info {
    width: 100%;
    max-width: 40rem;
    min-width: 10rem;
    box-shadow: 0px 0px 8px #ccc;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    gap: 1rem;
}

form.personal-info {
    gap: 1rem
}

label {
    text-align: start;
    gap: 0.25rem;
}

input {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

button {
    font-size: 1rem;
    color: #222;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 2px #222;
    background-color: #ddd;
}

button:hover {
    filter: brightness(0.95);
    cursor: pointer;
    transition: all 0.2s;
}

p.result {
    display: none;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #444;
    text-align: center;
}

div.service-description {
    gap: 0.75rem;
}

div.service-description > h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    color: #222;
}

div.service-description > p {
    font-size: 1.25rem;
    color: #444;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

article div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

article h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #222;
}

article h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333;
}

article p, article li {
    font-size: 1.25rem;
    color: #444;
    text-align: justify;
}

ul.blog-posts {
    min-height: calc(100vh - 7.5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

ul.blog-posts > li.blog-post-card {
    max-width: 20rem;
    overflow: hidden;
}

ul.blog-posts > li.blog-post-card > img {
    object-fit: cover;
}

ul.blog-posts > li.blog-post-card > a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    text-decoration: none;
}

ul.blog-posts > li.blog-post-card > a:hover > div > span {
    text-decoration: underline;
}


ul.blog-posts > li.blog-post-card > a > div {
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}


ul.blog-posts > li.blog-post-card > a > div > span {
    text-align: start;
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

ul.blog-posts > li.blog-post-card > a > div > p {
    font-size: 1rem;
    color: #555;
}
